<template>
    <div>
        <v-card class="text-center pa-1">
            <v-card-title
                class="justify-center display-1 font-weight-bold light-blue--text text--darken-3"
                >{{ $t("forgot.title") }}
                {{
                    errors.code == "The code confirmation does not match."
                }}</v-card-title
            >
            <v-card-subtitle class="mb-2" v-if="hasError == 0">
                {{ $t("forgot.subtitle") }}
            </v-card-subtitle>

            <v-card-subtitle class="mb-2" v-if="hasError == 2">
                <strong class="red--text text--lighten-1">{{
                    $t("forgot.phone_notexist")
                }}</strong>
            </v-card-subtitle>
            <v-card-subtitle class="mb-2" v-if="hasError == 1">
                <strong class="red--text text--lighten-1">{{
                    $t("forgot.sms_incorrect")
                }}</strong>
            </v-card-subtitle>

            <!-- reset form -->
            <v-card-text>
                <v-form
                    ref="form"
                    v-model="isFormValid"
                    lazy-validation
                    @submit.prevent="submit"
                >
                    <v-text-field
                        v-model="form.phone"
                        :rules="[rules.required, rules.int]"
                        :validate-on-blur="false"
                        :label="$t('forgot.phone')"
                        name="phone"
                        outlined
                        @keyup.enter="submit"
                    ></v-text-field>

                    <v-text-field
                        v-model="form.password"
                        :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                        :rules="[rules.required, rules.min]"
                        :type="showPassword ? 'text' : 'password'"
                        :label="$t('forgot.password')"
                        name="password"
                        outlined
                        @click:append="showPassword = !showPassword"
                    ></v-text-field>

                    <v-text-field
                        v-model="form.password_confirmation"
                        :append-icon="showPassword2 ? 'mdi-eye' : 'mdi-eye-off'"
                        :rules="[rules.required, rules.match]"
                        :type="showPassword2 ? 'text' : 'password'"
                        :label="$t('forgot.password_confirmation')"
                        name="password"
                        outlined
                        @click:append="showPassword2 = !showPassword2"
                    ></v-text-field>

                    <v-row no-gutters>
                        <v-col col="10" class="ma-0 pa-0">
                            <v-text-field
                                v-model="form.code_confirmation"
                                :rules="[rules.required]"
                                :label="$t('register.code')"
                                name="code_confirmation"
                                outlined
                            >
                            </v-text-field>
                        </v-col>
                        <v-col col="2" class="ma-0 pa-0">
                            <!-- <template v-slot:append-outer> -->
                            <v-btn
                                v-if="!start"
                                color="info"
                                @click="sendSms"
                                x-large
                                style="width: 130px"
                            >
                                {{ $t("forgot.send_code") }}
                            </v-btn>
                            <v-btn
                                v-if="start"
                                :disabled="loading4"
                                color="info"
                                x-large
                                style="width: 130px"
                            >
                                {{ $t("forgot.resend") }}&nbsp;({{ countDown }})
                            </v-btn>
                            <!-- </template> -->
                            <!-- </v-text-field> -->
                        </v-col>
                    </v-row>

                    <v-btn
                        :loading="isLoading"
                        :disabled="isDisabled"
                        block
                        x-large
                        color="primary"
                        @click="submit"
                        >{{ $t("forgot.button") }}</v-btn
                    >
                </v-form>
            </v-card-text>
        </v-card>

        <div class="text-center mt-6">
            <router-link to="/auth/signin">
                {{ $t("forgot.backtosign") }}
            </router-link>
        </div>
    </div>
</template>

<script>
import axios from "axios";
/*
|---------------------------------------------------------------------
| Forgot Page Component
|---------------------------------------------------------------------
|
| Template to send email to remember/replace password
|
*/
export default {
    data() {
        return {
            // reset button
            isLoading: false,
            isDisabled: false,

            //send SMS loading
            loading4: false,
            countDown: 30,
            start: false,

            // show password field
            showPassword: false,
            showPassword2: false,

            // form
            isFormValid: true,
            form: {
                role_id: "4",
                phone: "",
                password: "",
                password_confirmation: "",
                code: "",
                code_confirmation: ""
            },

            //error field,
            hasError: 0,
            errors: [],

            // input rules
            rules: {
                required: value => (value && Boolean(value)) || "Required",
                int: value =>
                    value.length === 8 || "Phone number must be 8 digits",
                min: value =>
                    value.length >= 8 ||
                    "Password must contain least 8 characters",
                match: () =>
                    this.form.password === this.form.password_confirmation ||
                    "Passwords do not match",
                code_match: () =>
                    this.form.code === this.form.code_confirmation ||
                    "Code does not match"
            }
        };
    },
    watch: {
        phone() {
            this.form.code = null;
            this.form.code_confirmation = null;
        }
    },
    computed: {
        phone() {
            return this.form.phone;
        }
    },
    methods: {
        submit(e) {
            if (this.$refs.form.validate()) {
                this.isLoading = true;
                this.isSignUpDisabled = true;
                this.reset(this.form);
            }
        },
        reset(form) {
            axios
                .put("/api/reset-password", form)
                .then(response => {
                    this.$router.push({ name: "auth-signin" });
                })
                .catch(error => {
                    if (error.response.status === 422) {
                        console.log(error.response.data);
                        if (error.response.data.errors.phone !== undefined) {
                            this.isLoading = false;
                            this.isDisabled = false;
                            this.hasError = 2;
                        } else if (
                            error.response.data.errors.code !== undefined
                        ) {
                            this.isLoading = false;
                            this.isDisabled = false;
                            this.hasError = 1;
                        }
                    } else {
                        this.isLoading = false;
                        this.isDisabled = false;
                        this.hasError = 2;
                    }
                });
        },
        countDownTimer() {
            if (this.countDown > 0) {
                setTimeout(() => {
                    this.countDown -= 1;
                    this.countDownTimer();
                }, 1000);
            }
            if (this.countDown === 0) {
                this.start = false;
                this.countDown = 30;
                this.loading4 = false;
            }
        },
        sendSms() {
            this.loading4 = true;
            this.start = true;
            this.countDown = 30;
            this.countDownTimer();
            var r1 = Math.floor(Math.random() * 10);
            var r2 = Math.floor(Math.random() * 10);
            var r3 = Math.floor(Math.random() * 10);
            var r4 = Math.floor(Math.random() * 10);
            this.form.code = "" + r1 + r2 + r3 + r4;
            //console.log(this.form.code);
            axios.post("/api/sms-verify/resetpw", {
                phone: this.form.phone,
                code: this.form.code
            });
            setTimeout(() => {
                this.form.code = "";
            }, 60000);
        }
    }
};
</script>
