<template>
  <v-card class="pa-2">
    <v-card-title class="justify-center display-1 font-weight-bold indigo--text text--darken-3">Reset password</v-card-title>
    <div class="error--text mt-2 mb-4">{{ error }}</div>

    <v-form ref="form">
    <v-text-field
      v-model="password"
      :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
      :rules="[rules.required, rules.min]"
      :type="showPassword ? 'text' : 'password'"
      name="password"
      label="Reset Password"
      outlined
      class="mt-4"
      @click:append="showPassword = !showPassword"
    ></v-text-field>

    <v-text-field
      v-model="password2"
      :append-icon="showPassword2 ? 'mdi-eye' : 'mdi-eye-off'"
      :rules="[rules.required, rules.match]"
      :type="showPassword ? 'text' : 'password'"
      name="password2"
      label="Confirm Password"
      outlined
      @click:append="showPassword = !showPassword2"
    ></v-text-field>
    </v-form>

    <v-btn
      :loading="isLoading"
      block
      depressed
      x-large
      color="primary"
      @click="confirmPasswordReset"
      @keyup.enter="confirmPasswordReset"
    >Continue</v-btn>
  </v-card>
</template>
<script>
/*
|---------------------------------------------------------------------
| Reset Page Component
|---------------------------------------------------------------------
|
| Page Form to insert new password and proceed to sign in
|
*/
export default {
  data() {
    return {
      isLoading: false,

      password: '',
      password2: '',

      // show password field
      showPassword: false,
      showPassword2: false,

      status: 'Resetting password',
      error: '',

      // input rules
      rules: {
        required: (value) => (value && Boolean(value)) || 'Required',
        min: (value) => (value.length >= 8) || 'Password must contain least 8 characters',
        match: () => (this.password === this.password2) || 'Passwords do not match'
      }
    }
  },
  methods: {
    confirmPasswordReset() {
      if (this.$refs.form.validate()) {
        this.$router.push('/auth/verify-phone')
      }

      else {
        this.error = 'The required fields are not valid'
      }
      
      setTimeout(() => {
        this.isLoading = false
      }, 500)
    }
  }
}
</script>
