<template>
    <div>
        <v-card class="text-center pa-1">
            <v-card-title
                class="justify-center display-1 font-weight-bold light-blue--text text--darken-3"
                >{{ $t("register.title") }}</v-card-title
            >
            <v-card-subtitle class="mb-2">{{
                $t("register.fillin")
            }}</v-card-subtitle>
            <v-card-subtitle class="mb-2" v-if="hasError">
                <strong class="red--text text--lighten-1">{{
                    $t("register.sms_incorrect")
                }}</strong>
            </v-card-subtitle>

            <!-- sign up form -->
            <v-card-text>
                <v-form ref="form" v-model="isFormValid" lazy-validation>
                    <v-text-field
                        v-model="form.name"
                        :validate-on-blur="false"
                        :label="$t('register.name')"
                        :rules="[rules.required]"
                        name="name"
                        outlined
                        @keyup.enter="submit"
                    ></v-text-field>

                    <v-text-field
                        v-model="form.email"
                        :rules="[rules.required]"
                        :validate-on-blur="false"
                        label="Email"
                        name="email"
                        outlined
                        @keyup.enter="submit"
                    ></v-text-field>

                    <v-text-field
                        v-model="form.password"
                        :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                        :rules="[rules.required, rules.min]"
                        :type="showPassword ? 'text' : 'password'"
                        :label="$t('register.password')"
                        name="password"
                        outlined
                        @click:append="showPassword = !showPassword"
                    ></v-text-field>

                    <v-text-field
                        v-model="form.password_confirmation"
                        :append-icon="showPassword2 ? 'mdi-eye' : 'mdi-eye-off'"
                        :rules="[rules.required, rules.match]"
                        :type="showPassword2 ? 'text' : 'password'"
                        :label="$t('register.password_confirmation')"
                        name="password"
                        outlined
                        @click:append="showPassword2 = !showPassword2"
                    ></v-text-field>

                    <v-btn
                        :loading="isLoading"
                        :disabled="isSignUpDisabled"
                        block
                        x-large
                        color="primary"
                        @click="submit"
                        @keyup.enter="submit"
                        >{{ $t("register.continue") }}</v-btn
                    >
                </v-form>
            </v-card-text>
        </v-card>

        <div class="text-center mt-6">
            {{ $t("register.account") }}
            <router-link to="/auth/signin" class="font-weight-bold">
                {{ $t("register.signin") }}
            </router-link>
        </div>
    </div>
</template>

<script>
/*
|---------------------------------------------------------------------
| Sign Up Page Component
|---------------------------------------------------------------------
|
| Template for user sign up with external providers buttons
|
*/
import axios from "axios";
export default {
    data() {
        return {
            // sign up buttons
            isLoading: false,
            isSignUpDisabled: false,

            // form
            isFormValid: true,
            form: {
                name: "",
                email: "",
                password: "",
                password_confirmation: ""
            },

            //error msg
            errors: [],
            hasError: false,

            // show password field
            showPassword: false,
            showPassword2: false,

            // input rules
            rules: {
                required: value => (value && Boolean(value)) || "Required",
                min: value =>
                    value.length >= 8 ||
                    "Password must contain least 8 characters",
                match: () =>
                    this.form.password === this.form.password_confirmation ||
                    "Passwords do not match",
                int: value =>
                    value.length === 8 || "Phone number must be 8 digits"
            }
        };
    },
    methods: {
        submit() {
            if (this.$refs.form.validate()) {
                this.isLoading = true;
                this.isSignUpDisabled = true;
                this.signUp(this.form);
            }
        },
        signUp(form) {
            axios.get("/sanctum/csrf-cookie").then(response => {
                axios
                    .post("/register", form)
                    .then(response => {
                        console.log("logged in");
                        this.$store.commit("change_auth", true);
                        this.$store.dispatch("check_logged_in");
                        this.$router.push("/");
                    })
                    .catch(error => {
                        this.isLoading = false;
                        this.isSignUpDisabled = false;
                        if (error.response.status === 422) {
                            this.hasError = true;
                            this.errors = error.response.data.errors;
                            console.log(error.response.data);
                        }
                    });
            });
        }
    }
};
</script>
