<template>
    <div>
        <v-card class="text-center pa-1">
            <v-card-title
                class="justify-center display-1 font-weight-bold light-blue--text text--darken-3"
                >{{ $t("login.welcome") }}</v-card-title
            >
            <v-card-subtitle class="mb-2" v-if="!hasError">
                {{ $t("login.signin_account") }}</v-card-subtitle
            >
            <v-card-subtitle class="mb-2" v-if="hasError">
                <strong class="red--text text--lighten-1">{{
                    $t("login.login_incorrect")
                }}</strong>
            </v-card-subtitle>

            <!-- sign in form -->
            <v-card-text>
                <v-form ref="form" v-model="isFormValid" lazy-validation>
                    <!-- use this for phone login created by pinkie-->
                    <v-text-field
                        v-model="email"
                        :rules="[rules.required]"
                        :validate-on-blur="false"
                        label="Email"
                        name="Email"
                        outlined
                        @keyup.enter="submit"
                    ></v-text-field>

                    <v-text-field
                        v-model="password"
                        :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                        :rules="[rules.required]"
                        :type="showPassword ? 'text' : 'password'"
                        :label="$t('login.password')"
                        name="password"
                        outlined
                        @keyup.enter="submit"
                        @click:append="showPassword = !showPassword"
                    ></v-text-field>

                    <v-btn
                        :loading="isLoading"
                        :disabled="isSignInDisabled"
                        block
                        x-large
                        color="primary"
                        @click="submit"
                        >{{ $t("login.button") }}</v-btn
                    >

                    <div class="mt-5 d-none">
                        <router-link to="/auth/forgot-password">
                            {{ $t("login.forgot") }}
                        </router-link>
                    </div>
                </v-form>
            </v-card-text>
        </v-card>

        <div class="text-center mt-6 d-none">
            {{ $t("login.noaccount") }}
            <router-link to="/auth/signup" class="font-weight-bold">
                {{ $t("login.create") }}
            </router-link>
        </div>
    </div>
</template>

<script>
/*
|---------------------------------------------------------------------
| Sign In Page Component
|---------------------------------------------------------------------
|
| Sign in template for user authentication into the application
|
*/
import axios from "axios";
export default {
    data() {
        return {
            // sign in buttons
            isLoading: false,
            isSignInDisabled: false,

            // form
            isFormValid: true,
            email: "",
            password: "",

            // show password field
            showPassword: false,

            //error field,
            hasError: false,

            // input rules
            rules: {
                required: value => (value && Boolean(value)) || "Required",
                int: value =>
                    value.length === 8 || "Phone number must be 8 digits"
            }
        };
    },
    methods: {
        submit() {
            if (this.$refs.form.validate()) {
                this.isLoading = true;
                this.isSignInDisabled = true;
                this.signIn(this.email, this.password);
            }
        },
        signIn(email, password) {
            axios.get("/sanctum/csrf-cookie").then(response => {
                axios
                    .post("/login", {
                        email: email,
                        password: password
                    })
                    .then(() => {
                        console.log("logged in");
                        this.$store.commit("change_auth", true);
                        this.$store.dispatch("check_logged_in");
                        this.$router.push("/");
                    })
                    .catch(() => {
                        this.isLoading = false;
                        this.isSignInDisabled = false;
                        this.hasError = true;
                    });
            });
        }
    }
};
</script>
