<template>
  <v-card class="pa-2">
    <v-card-title class="justify-center display-1 font-weight-bold indigo--text text--darken-3">Phone Verification</v-card-title>
    <v-card-subtitle class="mb-2">A text message with a verification code will be sent to you</v-card-subtitle>
    
    <v-row class="mt-4 mb-2 ma-1">
        <v-text-field
          v-model="verificationCode"
          :counter="6"
          label="Enter verification code"
          maxlength="6"
          required
        ></v-text-field>

        <v-btn
          :loading="isLoading"
          depressed
          x-large
          color="primary"
          class="ml-2"
          @click="resend"
          to="/"
        >Verify</v-btn>
    </v-row>
    <v-card-text class="mt-4">Didn't receive verification code?</v-card-text>
    <v-btn
      :loading="isLoading"
      :disabled="disabled"
      depressed
      x-large
      outlined
      color="primary"
      class="ml-2"
      @click="resend"
    >Re-send {{ seconds }}</v-btn>
  </v-card>
</template>

<script>
/*
|---------------------------------------------------------------------
| Verify Phone Number Page Component
|---------------------------------------------------------------------
|
| Template to wait for the verification on the user phone number
|
*/

const TIMEOUT = 10

export default {
  data() {
    return {
      isLoading: false,
      disabled: true,
      times: 0,
      resendInterval: null,
      secondsToEnable: TIMEOUT,
      seconds: '',
      verificationCode: ''
    }
  },
  mounted() {
    this.setTimer()
  },
  beforeDestroy() {
    clearInterval(this.resendInterval)
  },
  methods: {
    async resend() {
      this.setTimer()
    },
    setTimer() {
      this.disabled = true
      this.times++
      this.secondsToEnable = TIMEOUT * this.times

      this.resendInterval = setInterval(() => {
        if (this.secondsToEnable === 0) {
          clearInterval(this.resendInterval)
          this.seconds = ''
          this.disabled = false
        } else {
          this.seconds = `( ${this.secondsToEnable} )`
          this.secondsToEnable--
        }
      }, 1000)
    }
  }
}
</script>
