<template>
    <div>
        <v-card>
            <v-card-title
                >Step 3: Baseline Correction & Conversion to .csv
                <v-spacer></v-spacer>
                <v-btn @click="get_data('abf')">Refresh</v-btn>
            </v-card-title>

            <v-data-table
                :headers="headers"
                :items="files"
                :items-per-page="5"
                class="elevation-1"
            >
                <template v-slot:item.select="{ item }">
                    <v-btn
                        @click.prevent="to_csv(item.file_name)"
                        color="primary"
                        >Convert
                    </v-btn>
                </template>
            </v-data-table>
        </v-card>

        <template>
            <div class="text-center ma-2">
                <v-snackbar v-model="snackbar">
                    {{ text }}

                    <template v-slot:action="{ attrs }">
                        <v-btn
                            color="success"
                            text
                            v-bind="attrs"
                            @click="snackbar = false"
                        >
                            Close
                        </v-btn>
                    </template>
                </v-snackbar>
            </div>
        </template>
    </div>
</template>

<script>
export default {
    props: ["files", "settings", "get_data"],
    data() {
        return {
            snackbar: false,
            text: "Hello, I'm a snackbar",
            headers: [
                {
                    text: "File Name",
                    align: "start",
                    sortable: true,
                    value: "file_name"
                },
                { text: "Select", sortable: false, value: "select" }
            ]
        };
    },
    methods: {
        to_csv: function(file) {
            this.$pyAxios
                .get(`/file_conversion/${file}`)
                .then(() => {
                    this.snackbar = true;
                    this.text = "Conversion Successful";
                })
                .catch(err => {
                    this.snackbar = true;
                    this.text = "Conversion Failed";
                    console.log(err);
                });
        }
    }
};
</script>
