<template>
    <div>
        <v-card
            ><v-card-title>
                Step 5: Predict .csv files
                <v-spacer></v-spacer>
                <v-btn @click="get_data('csv')">Refresh</v-btn>
            </v-card-title>
            <v-data-table
                :headers="headers"
                :items="files"
                :items-per-page="5"
                class="elevation-1"
            >
                <template v-slot:item.select="{ item }">
                    <v-btn
                        color="primary"
                        @click.prevent="predict(item.file_name, selected_model)"
                        >Predict</v-btn
                    >
                </template>
            </v-data-table></v-card
        >

        <template>
            <div class="text-center ma-2">
                <v-snackbar v-model="snackbar">
                    {{ text }}

                    <template v-slot:action="{ attrs }">
                        <v-btn
                            color="success"
                            text
                            v-bind="attrs"
                            @click="snackbar = false"
                        >
                            Close
                        </v-btn>
                    </template>
                </v-snackbar>
            </div>
        </template>
    </div>
</template>

<script>
export default {
    props: ["files", "settings", "get_data"],
    data() {
        return {
            snackbar: false,
            text: "Hello, I'm a snackbar",
            headers: [
                {
                    text: "File Name",
                    align: "start",
                    sortable: true,
                    value: "file_name"
                },
                { text: "Select", sortable: false, value: "select" }
            ]
        };
    },
    methods: {
        predict: function(file, model) {
            this.$pyAxios
                .get(`/prediction/${file}/${model}`)
                .then(() => {
                    this.snackbar = true;
                    this.text = "Prediction Successful";
                })
                .catch(err => {
                    console.log(err);
                    this.snackbar = true;
                    this.text = "Prediction Failed";
                });
        }
    },
    computed: {
        selected_model: function() {
            return this.$store.getters.get_chosen_model;
        }
    }
};
</script>
