<template>
    <div>
        <v-card
            ><v-card-title>
                Step 4: Choose a Model
                <v-spacer></v-spacer>
                <v-btn @click="get_data('dat')">Refresh</v-btn>
            </v-card-title>
            <v-data-table
                v-model="selected"
                :headers="headers"
                :items="files"
                :single-select="true"
                item-key="file_name"
                show-select
                class="elevation-1"
            >
            </v-data-table>
        </v-card>

        <template>
            <div class="text-center ma-2">
                <v-snackbar v-model="snackbar">
                    {{ text }}

                    <template v-slot:action="{ attrs }">
                        <v-btn
                            color="success"
                            text
                            v-bind="attrs"
                            @click="snackbar = false"
                        >
                            Close
                        </v-btn>
                    </template>
                </v-snackbar>
            </div>
        </template>
    </div>
</template>

<script>
export default {
    props: ["files", "settings", "get_data"],
    data() {
        return {
            selected: [],
            snackbar: false,
            text: "Hello, I'm a snackbar",
            headers: [
                {
                    text: "File Name",
                    align: "start",
                    sortable: true,
                    value: "file_name"
                }
            ]
        };
    },
    methods: {
        predict: function(file) {
            this.$pyAxios
                .get(`/prediction/${file}`)
                .then(() => {
                    this.snackbar = true;
                    this.text = "Prediction Successful";
                })
                .catch(err => {
                    console.log(err);
                    this.snackbar = true;
                    this.text = "Prediction Failed";
                });
        }
    },
    watch: {
        selected: function() {
            if (!this.selected.length) {
                this.$store.commit("change_model", "No Files Selected");
            } else {
                this.$store.commit("change_model", this.selected[0].file_name);
            }
        }
    }
};
</script>
