<template>
    <v-card>
        <v-card-title
            >Steo 6: Download .png Results
            <v-spacer></v-spacer>
            <v-btn @click="get_data()">Refresh</v-btn></v-card-title
        >

        <v-data-table
            :headers="headers"
            :items="files"
            :items-per-page="5"
            class="elevation-1"
        >
            <template v-slot:item.select="{ item }">
                <v-btn
                    class="btn btn-primary"
                    target="_blank"
                    :href="get_img(item.file_name)"
                    color="success"
                    dark
                    >Download</v-btn
                >
            </template>
        </v-data-table></v-card
    >
</template>

<script>
export default {
    props: ["files", "settings", "get_data"],
    data() {
        return {
            headers: [
                {
                    text: "File Name",
                    align: "start",
                    sortable: true,
                    value: "file_name"
                },
                { text: "Select", sortable: false, value: "select" }
            ]
        };
    },
    methods: {
        get_img: function(file_name) {
            let baseURL = this.$pyAxios.defaults.baseURL;
            return `${baseURL}get_img/${file_name}`;
        }
    }
};
</script>
