<template>
    <v-card class="px-2 py-2">
        <v-card-title>{{ title }}</v-card-title>
        <v-file-input
            accept=".abf, .dat"
            label="File input"
            :id="form"
            multiple
        ></v-file-input>

        <div class="my-2">
            <v-btn block :color="status" @click="upload">{{ msg }}</v-btn>
        </div>
    </v-card>
</template>

<script>
export default {
    props: ["title", "destination", "form"],
    data: function() {
        return {
            status: "primary",
            msg: "Please upload file",
            email: this.$store.getters.get_user_data.email
        };
    },
    created: function() {},
    methods: {
        upload() {
            let date = Date.parse(Date());
            let filename = this.email + "_" + date;

            let data = new FormData();
            let file = document.getElementById(this.form).files[0];

            if (file == null) {
                this.status = "error";
                this.msg = "No Files Selected";
            } else {
                data.append("file", file);
                data.append("file_name", filename);
                this.$pyAxios
                    .post(`/file_upload/${this.destination}`, data, {
                        headers: ""
                    })
                    .then(() => {
                        this.status = "success";
                        this.msg = "Upload Successful";
                    })
                    .catch(err => {
                        this.status = "error";
                        this.msg = "Upload Failed";
                        console.log(err);
                    });
            }
        }
    }
};
</script>

<style></style>
