<template>
    <div class="flex-grow-1">
        <v-row class="flex-grow-0" dense>
            <v-col cols="12" md="6"
                ><upload-file
                    :title="'Step 1: Upload Data .abf'"
                    :destination="'data'"
                    :form="'abf'"
                ></upload-file
            ></v-col>
            <v-col cols="12" md="6">
                <upload-file
                    :title="'Step 2: Upload Model .dat'"
                    :destination="'model'"
                    :form="'model'"
                ></upload-file>
            </v-col>
        </v-row>
        <v-row class="flex-grow-0" dense>
            <v-col cols="12" md="4">
                <abf-list :files="files" :get_data="get_abf_data"></abf-list>
            </v-col>
            <v-col cols="12" md="4">
                <model-list :files="model" :get_data="get_model_data">
                </model-list>
            </v-col>
            <v-col cols="12" md="4">
                <csv-list :files="csv" :get_data="get_csv_data"></csv-list>
            </v-col>
        </v-row>

        <v-row class="flex-grow-0" dense>
            <v-col col="12"
                ><result-list
                    :files="results"
                    :get_data="get_result"
                ></result-list>
            </v-col>
        </v-row>
    </div>
</template>

<script>
import UploadFile from "@/components/home/UploadFile";
import AbfList from "@/components/home/AbfList";
import ResultList from "@/components/home/ResultList";
import CsvList from "@/components/home/CsvList";
import ModelList from "@/components/home/ModelList";
export default {
    data: function() {
        return {
            files: [],
            csv: [],
            model: [],
            results: []
        };
    },
    components: {
        UploadFile,
        AbfList,
        ResultList,
        CsvList,
        ModelList
    },
    mounted: function() {
        this.get_abf_data("abf");
        this.get_csv_data("csv");
        this.get_model_data("dat");
        this.get_result();
    },
    methods: {
        get_abf_data: function(extension) {
            this.$pyAxios
                .get(`/get_data/${extension}`)
                .then(res => {
                    this.files = res.data;
                })
                .catch(err => {
                    console.log(err);
                });
        },
        get_csv_data: function(extension) {
            this.$pyAxios
                .get(`/get_data/${extension}`)
                .then(res => {
                    this.csv = res.data;
                })
                .catch(err => {
                    console.log(err);
                });
        },
        get_model_data: function(extension) {
            this.$pyAxios
                .get(`/get_model/${extension}`)
                .then(res => {
                    this.model = res.data;
                })
                .catch(err => {
                    console.log(err);
                });
        },
        get_result: function() {
            this.$pyAxios
                .get("/get_result")
                .then(res => {
                    this.results = res.data;
                })
                .catch(err => {
                    console.log(err);
                });
        }
    }
};
</script>

<style></style>
