<template>
    <div class="d-flex flex-grow-1 flex-column">
        <v-row class="flex-grow-0" dense>
            <v-col cols="12">
                <sales-card
                    class="h-full"
                    style="min-height: 380px"
                    :value="weekly_sales_value"
                    :total_sales_value="total_sales_value"
                    :percentage="sales_change"
                    :loading="isLoading1"
                    :percentage-label="$t('vs YTD')"
                    :action-label="$t('dashboard.viewReport')"
                    :series="[graph_data]"
                    :xaxis="graph_dates"
                ></sales-card>
            </v-col>
        </v-row>

        <v-row class="flex-grow-0" dense>
            <v-col cols="12" md="6" xl="4" class="white"
                ><pie-chart style="border-radius: 2%"></pie-chart
            ></v-col>

            <v-col cols="12" md="6" xl="4" class="white">
                <div class="d-flex flex-column flex-grow-1 h-full">
                    <track-card
                        :label="$t('dashboard.orders')"
                        class="h-full"
                        color="#8c9eff"
                        :value="order_numbers"
                        :percentage="order_change"
                        :percentage-label="$t('vs YTD')"
                        :loading="isLoading3"
                        :series="ordersSeries"
                    ></track-card>
                    <track-card
                        :label="$t('dashboard.customers')"
                        class="h-full mt-2"
                        color="#8c9eff"
                        :value="customer_numbers"
                        :percentage="customer_change"
                        :percentage-label="$t('vs YTD')"
                        :loading="isLoading3"
                        :series="customersSeries"
                    ></track-card>
                </div>
            </v-col>
        </v-row>
    </div>
</template>

<script>
import axios from "axios";
// DEMO Cards for dashboard
import SalesCard from "../../components/dashboard/SalesCard";
import PieChart from "../../components/dashboard/PieChart";
import TrackCard from "../../components/dashboard/TrackCard";

export default {
    components: {
        SalesCard,
        PieChart,
        TrackCard
    },
    data() {
        return {
            loadingInterval: null,
            isLoading1: true,
            isLoading2: true,
            isLoading3: true,

            weekly_sales_value: 0,
            total_sales_value: 0,
            sales_data: [],
            dates: [],

            customers: [],
            orders: [],
            customer_numbers: 0,
            order_numbers: 0,
            customer_change: 0,
            order_change: 0
        };
    },
    created() {
        axios.get("/api/weekly_sales_value").then(response => {
            this.weekly_sales_value = response.data;
        });
        axios.get("/api/total_sales_value").then(response => {
            this.total_sales_value = response.data;
        });

        axios.get("/api/sales_graph").then(response => {
            this.sales_data = response.data.sales;
            this.dates = response.data.dates;
        });

        axios.get("/api/customers_number").then(response => {
            this.customers = response.data;
            this.customer_change = this.change(this.customers);
        });

        axios.get("/api/orders_number").then(response => {
            this.orders = response.data;
            this.order_change = this.change(this.orders);
        });

        axios.get("/api/total_customers_and_order").then(response => {
            this.customer_numbers = response.data.customers;
            this.order_numbers = response.data.orders;
        });
    },
    mounted() {
        let count = 0;

        // DEMO delay for loading graphics
        this.loadingInterval = setInterval(() => {
            this[`isLoading${count++}`] = false;
            if (count === 4) this.clear();
        }, 400);
    },
    beforeDestroy() {
        this.clear();
    },
    methods: {
        clear() {
            clearInterval(this.loadingInterval);
        },
        change: function(data) {
            let x = data.slice(-1)[0][1];
            let y = data.slice(-2)[0][1];
            var change = Math.round(((x - y) * 100) / y);
            return change;
        }
    },
    computed: {
        graph_data: function() {
            var output = {
                name: "Sales",
                data: this.sales_data
            };
            return output;
        },
        graph_dates: function() {
            var output = { type: "datetime", categories: this.dates };
            return output;
        },
        sales_change: function() {
            var data = this.sales_data;
            let x = data.slice(-1)[0];
            let y = data.slice(-2)[0];
            var change = Math.round(((x - y) * 100) / y);
            return change;
        },
        customersSeries: function() {
            var customerSeries = [
                {
                    name: "Customers",
                    data: this.customers
                }
            ];
            return customerSeries;
        },
        ordersSeries: function() {
            var ordersSeries = [
                {
                    name: "Orders",
                    data: this.orders
                }
            ];
            return ordersSeries;
        }
    }
};
</script>
