<template>
    <v-menu offset-y left transition="slide-y-transition">
        <template v-slot:activator="{ on }">
            <v-btn icon class="elevation-2" v-on="on">
                <v-badge
                    color="success"
                    dot
                    bordered
                    offset-x="10"
                    offset-y="10"
                >
                    <v-avatar size="40">
                        <v-img
                            src="/images/avatars/edel_icon.jpg"
                            :contain="true"
                        ></v-img>
                    </v-avatar>
                </v-badge>
            </v-btn>
        </template>

        <!-- user menu list -->
        <v-list dense nav>
            <v-list-item
                v-for="(item, index) in menu"
                :key="index"
                :to="item.link"
                :exact="item.exact"
                :disabled="item.disabled"
                link
            >
                <v-list-item-icon>
                    <v-icon small :class="{ 'grey--text': item.disabled }">{{
                        item.icon
                    }}</v-icon>
                </v-list-item-icon>
                <v-list-item-content>
                    <v-list-item-title>{{
                        item.key ? $t(item.key) : item.text
                    }}</v-list-item-title>
                </v-list-item-content>
            </v-list-item>

            <!-- <v-divider class="my-1"></v-divider> -->

            <v-list-item @click="logout">
                <v-list-item-icon>
                    <v-icon small>mdi-logout-variant</v-icon>
                </v-list-item-icon>
                <v-list-item-content>
                    <v-list-item-title>{{
                        $t("menu.logout")
                    }}</v-list-item-title>
                </v-list-item-content>
            </v-list-item>
        </v-list>
    </v-menu>
</template>

<script>
import axios from "axios";
import config from "../../configs";
/*
|---------------------------------------------------------------------
| Toolbar User Component
|---------------------------------------------------------------------
|
| Quickmenu for user menu shortcuts on the toolbar
|
*/
export default {
    data() {
        return {
            menu: config.toolbar.user
        };
    },
    methods: {
        logout: function() {
            axios.post("/logout").then(response => {
                console.log("logged out");
                this.$store.commit("change_auth", false);
                // this will refresh the user's data
                this.$store.dispatch("check_logged_in");
                // need refresh to make sure session has ended
                this.$router.push("/auth/signin");
            });
        }
    }
};
</script>
