<template>
    <e-charts
        ref="pie"
        style="width: 100%"
        autoresize
        :options="output"
        auto-resize
    />
</template>

<script>
import axios from "axios";
export default {
    data: function() {
        return {
            product_data: []
        };
    },
    created: function() {
        axios.get("/api/weekly_sales").then(response => {
            // only get the best 5 product
            this.product_data = response.data.splice(0, 5);
        });
    },
    mounted() {
        let dataIndex = -1;
        const { pie } = this.$refs;
        // this is changed so that the animation will work
        // hard coded since it always get the best 5 product
        const dataLen = 5;

        setInterval(() => {
            pie.dispatchAction({
                type: "downplay",
                seriesIndex: 0,
                dataIndex
            });
            dataIndex = (dataIndex + 1) % dataLen;
            pie.dispatchAction({
                type: "highlight",
                seriesIndex: 0,
                dataIndex
            });
            pie.dispatchAction({
                type: "showTip",
                seriesIndex: 0,
                dataIndex
            });
        }, 1000);
    },
    computed: {
        output: function() {
            // product data
            var stats = this.product_data;

            // get names for legend
            var names = [];
            stats.forEach(element => {
                names.push(element.name);
            });

            // vuetify object for pie chart
            var x = {
                tooltip: {
                    trigger: "item",
                    formatter: "{a} <br/>{b} : {c} ({d}%)"
                },
                legend: {
                    orient: "vertical",
                    left: "left",
                    data: names
                },
                series: [
                    {
                        name: "Product",
                        type: "pie",
                        radius: "55%",
                        center: ["50%", "60%"],
                        color: [
                            "#FF9F43",
                            "#28C76F",
                            "#EA5455",
                            "#87ceeb",
                            "#7367F0"
                        ],
                        data: stats,
                        itemStyle: {
                            emphasis: {
                                shadowBlur: 10,
                                shadowOffsetX: 0,
                                shadowColor: "rgba(0, 0, 0, 0.5)"
                            }
                        }
                    }
                ]
            };

            return x;
        }
    }
};
</script>
